In [0]:
USE CATALOG `hive_metastore`;
USE SCHEMA `default`;

In [0]:
DROP TABLE IF EXISTS products;
CREATE TABLE products (
  product_id INT,
  product_name STRING,
  category STRING
);

INSERT INTO products VALUES
(1, 'Laptop Pro', 'Electronics'),
(2, 'Smartphone X', 'Electronics'),
(3, 'Desk Chair', 'Furniture'),
(4, 'Office Desk', 'Furniture'),
(5, 'Wireless Mouse', 'Accessories');

In [0]:
DROP TABLE IF EXISTS customers;
CREATE TABLE customers (
  customer_id INT,
  customer_name STRING,
  region STRING
);

INSERT INTO customers VALUES
(1, 'Alice Johnson', 'North'),
(2, 'Bob Smith', 'South'),
(3, 'Charlie Lee', 'East'),
(4, 'Diana Prince', 'West'),
(5, 'Ethan Brown', 'North');

In [0]:
DROP TABLE IF EXISTS sales;
CREATE TABLE sales (
  sale_id INT,
  product_id INT,
  customer_id INT,
  quantity INT,
  unit_price DOUBLE,
  sale_date DATE
);

INSERT INTO sales VALUES
(101, 1, 1, 3, 1200.00, '2023-07-01'),
(102, 2, 2, 5, 800.00, '2023-07-02'),
(103, 1, 3, 2, 1150.00, '2023-07-03'),
(104, 3, 4, 7, 150.00, '2023-07-04'),
(105, 4, 5, 1, 300.00, '2023-07-05'),
(106, 2, 1, 3, 790.00, '2023-07-06'),
(107, 5, 2, 10, 50.00, '2023-07-07'),
(108, 3, 3, 4, 155.00, '2023-07-08'),
(109, 4, 4, 2, 310.00, '2023-07-09'),
(110, 5, 5, 6, 55.00, '2023-07-10');